<h1>Create Post</h1>
<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "Description" %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit :Submit%>
<% end %>
<%= link_to "Posts", posts_path %><br>